table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}
table caption {
	color: #000;
	font: italic 85%/1 arial,sans-serif;
	padding: 1em 0;
	text-align: center;
}
table td,
table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: .5em 1em;
}
table th {
	font-family: 'HUGEAvantGardeBold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	border-bottom: 1px solid #cbcbcb;
}
table td:first-child,
table th:first-child {
	border-left-width: 0;
}
table thead {
	background: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}
table tr:nth-child(2n-1) td {
	background-color: #f8f8f8;
}
table td {
	border-bottom: 1px solid #cbcbcb
}

#tables {
  table {
    width: 90%;
  }
}