extends styleguide/structure/_includes/_layout
block styles
	link(href='styleguide/assets/styles/structure.css', rel='stylesheet')
	link(href='styleguide/assets/styles/styleguide.css', rel='stylesheet')

block content
	include styleguide/structure/_templates/_header.jade
	include styleguide/structure/_templates/_sidebar.jade
	.huge-iframe-wrapper
		iframe(src="styleguide/styleguide.html", frameborder="0", height="100%", width="100%")

block scripts
	script(src="styleguide/structure/scripts/vendor/jquery-1.11.1.min.js")
	script(src="styleguide/structure/scripts/styleguide.js")
	if !process.env.STYLEGUIDE_COMPILE
		script.
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8374/livereload.js?snipver=1"></' + 'script>')
