<h2 class="title">{{name}}</h2>
{{#each items.intro}}
    <p>{{this}}</p>
{{/each}}
<ul class="no-bullet list-colors">
    {{#each items.colors}}
        <li class="small-12 medium-2 column {{#if @last}}end{{/if}}">
            <div class="color {{className}}">
            	<p>.{{className}}</p>
            </div>
        </li>
    {{/each}}
</ul>