<h2 class="huge_title">{{name}}</h2>
{{#each items.intro}}
    <p class="huge_paragraph">{{this}}</p>
{{/each}}
<ul class="huge_no-bullet huge_list-colors">
    {{#each items.colors}}
        <li class="small-12 medium-2 column {{#if @last}}end{{/if}}">
            <div class="color {{className}}">
            	<p>.{{className}}</p>
            </div>
        </li>
    {{/each}}
</ul>