- var breakpoints = public.styleguide._data.breakpoints

html
  body
    header#header
      .breadcrumb
      nav.sizes.right
        ul
          each breakpoint in breakpoints
            li
              a(id=breakpoint.id, data-size=breakpoint.size, data-size-label=breakpoint.id)=breakpoint.name
