- var modules = public.styleguide._data.modules
- var modulesData = {}
- for (var i = 0; i < modules.length; i++) {
-   var module = modules[i]
-   var moduleData = public.styleguide.modules[module]._data
-   modulesData[module] = moduleData.module
- }