<div class="columns small-4 toggle-menu-out toggle-menu"><a href="#">Menu</a></div>
<aside>
  <div class="columns small-4 toggle-menu-in toggle-menu"><a href="#">Menu</a></div>
  <div class="clearfix client">
    <h3 class="columns small-12"><img src="styleguide/assets/images/{{logoImage}}" id="logo"/></h3>
  </div>
  <div class="clearfix row">
    <nav>
      <ul>
        {{#each modules}}
          <li>
              <a href="#{{id}}" id="{{id}}" target="sg-viewport">{{name}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</aside>