body {
  font-size: 15px;
  line-height: 24px;
  font-family: Tahoma, Geneva, Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.huge-module__toggle-code {
  display: block;
  text-indent: -5000em;
  background: url("../../structure/images/icon_code.svg") right center no-repeat;
  height: 1.5em;
  opacity: .5;
  float: right;
  position: relative;
  z-index: 9;
}

pre[class*='language-'] > code[data-language] {
  overflow: auto;
}

main {
  height: 100%;
}