// Module title placeholder
%module__title {
  font-size: 2em;
  line-height: 30px;
  margin: 0 0 45px;
  font-weight: normal;
  font-family: HUGEAvantGardeBold, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
}

a {
  color: #333;
}

p.huge-module__paragraph {
  margin: 0;
  margin-bottom: 25px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  a {
    color: $magenta
  }
}

.huge-module__title {
  @extend %module__title;
  &--small {
    @extend %module__title;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &--light {
    color: #bbb;
    text-transform: none;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 25px;
    font-weight: normal;
  }
}