include ../_includes/modulesData
.huge-sidebar
  //- just one toggle
  .huge-sidebar__toggle--out
    a(href='#') Menu
  .huge-sidebar__content
    .huge-sidebar__toggle--in
      a(href='#') Menu
    img.huge-sidebar__logo.clearfix(src='styleguide/assets/images/#{public.styleguide._data.logoImage}')
    nav.huge-sidebar__nav.row.clearfix
      ul.huge-list--unstyled
        each module in modulesData
          li.huge-sidebar__nav__item
            a(href="##{module.id}").huge-sidebar__nav__item__link.huge-anchor=module.name
