include ../_includes/modulesData
.huge-sidebar
  .huge-sidebar__toggle--out
    a(href='#') Menu
  .huge-sidebar__content
    .huge-sidebar__toggle--in
      a(href='#') Menu
    //img.huge-sidebar__logo.clearfix(src='styleguide/assets/images/#{public.styleguide._data.logoImage}')
    svg(width='80px', height='32px', viewbox='0 0 80 32', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns')
      title huge-logo
      desc Created with Sketch.
      defs
      g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
        g#huge-logo(sketch:type='MSLayerGroup', fill='#FFFFFF')
          g#Group(sketch:type='MSShapeGroup')
            path#Shape(d='M10.668,0 L10.668,13.33 L5.332,13.33 L5.332,0 L-8.8817842e-16,0 L-8.8817842e-16,32 L5.332,32 L5.332,18.666 L10.668,18.666 L10.668,32 L16,32 L16,0 L10.668,0')
            path#Shape(d='M31.662,0 L31.662,25.329 C31.662,26.067 31.073,26.661 30.332,26.661 L27.667,26.661 C26.931,26.661 26.33,26.066 26.33,25.329 L26.33,0 L21,0 L21,26.661 C21,29.612 23.392,32 26.33,32 L31.662,32 C34.615,32 37,29.612 37,26.661 L37,0 L31.662,0')
            path#Shape(d='M80,5.33 L80,0 L64,0 L64,32 L80,32 L80,26.661 L69.331,26.661 L69.331,18.666 L74.67,18.666 L74.67,13.33 L69.331,13.33 L69.331,5.33 L80,5.33')
            path#Shape(d='M59,7.997 L59,5.33 C59,2.385 56.606,0 53.66,0 L48.336,0 C45.391,0 43,2.385 43,5.33 L43,26.661 C43,29.612 45.386,32 48.336,32 L53.66,32 C56.606,32 59,29.612 59,26.661 L59,13.329 L51.002,13.329 L51.002,18.665 L53.66,18.665 L53.66,25.333 C53.66,26.066 53.068,26.661 52.332,26.661 L49.673,26.661 C48.931,26.661 48.336,26.066 48.336,25.329 L48.336,6.658 C48.336,5.916 48.931,5.33 49.673,5.33 L52.332,5.33 C53.067,5.33 53.66,5.916 53.66,6.658 L53.66,7.997 L59,7.997')

    nav.huge-sidebar__nav.row.clearfix
      ul.huge-list--unstyled
        each module in modulesData
          li.huge-sidebar__nav__item
            a(href="##{module.id}").huge-sidebar__nav__item__link.huge-anchor=module.name
