h2.huge-module__title=name
h5.huge-module__title--small=items.notOrdenated
ul.snippet.list_huge
  li Item 1
  li Item 2
  li Item 3
h5.huge-module__title--small=items.ordenated
ol.snippet.list_huge
  li Item 1
  li Item 2
  li Item 3