<h2 class="huge_title">{{name}}</h2>
<ul class="huge_no-bullet">
    {{#each items}}
        <li>
            <a href="#" class="{{className}} huge_snippet">{{buttonName}}</a>
        </li>
    {{/each}}
</ul>