- var data = public.styleguide.modules.lists._data.module

h2.title=data.name
h5.title=data.items.notOrdenated
ul.snippet
  li Item 1
  li Item 2
  li Item 3
h5.title=data.items.ordenated
ol.snippet
  li Item 1
  li Item 2
  li Item 3