.huge-header {
  display: block;
  background: #fff;
  border-bottom: 1px solid $structureBorderColor;
  width: 100%;
  padding: 17px 30px 21px 80px;
  position: fixed;
  height: $headerHeight;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all $transitionLength cubic-bezier(.37,.62,.47,.72);
  transition: all $transitionLength cubic-bezier(.37,.62,.47,.72);
  font-size: 14px;
  color: #666;
  .huge-header__welcome {
      font-family: Arial, sans-serif;
  }
  .huge-header__breakpoints__item__link {
      font-family: Arial, sans-serif;
  }
}

.huge-header__breakpoints {
  position: relative;
  top: -9px;
  
  ul {
    display: none;

    @media #{$bp-large} {
      display: block;
    }
  }
}

.huge-header__breakpoints__item__link {
  position: relative;
  display: block;
  padding: 0;
  color: #555;
  text-decoration: none;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;

  span {
    position: relative;
    top: -4px;
  }

  &:before {
    content: '';
    opacity: 0.5;
    display: inline-block;
    height: 40px;
    background: center bottom no-repeat;
    margin-right: 10px;
  }

  &:hover, &.active {
    color: #000;
  }

  &:hover:before, &:hover:before.active {
    opacity: 1;
  }

  &#small:before {
    width: 17px;
    background-image: url("../../structure/images/icon_small_up.svg");
  }

  &#medium:before {
    width: 26px;
    background-image: url("../../structure/images/icon_medium_up.svg");
  }

  &#large:before {
    width: 53px;
    background-image: url("../../structure/images/icon_large_up.svg");
  }

  &#full:before {
    width: 51px;
    background-image: url("../../structure/images/icon_full.svg");
  }
}

body.opened {
  .huge-header {
    left: 240px;
    width: calc(100% - 240px);
    padding: 17px 30px 21px;
  }
}