body.opened {
  .huge-iframe-wrapper {
    left: 240px;
    width: calc(100% - 240px);
    max-width: calc(100% - 240px);
  }
}

.huge-module {
  width: 80%;
  margin: 0 auto;
  clear: both;
  padding: 75px 0;
  border-bottom: 1px solid $structureBorderColor;

  &:last-child {
    border-bottom: none;
  }
}

.huge-iframe-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  max-width: initial;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: left $transitionLength cubic-bezier(.37,.62,.47,.72), width $transitionLength cubic-bezier(.37,.62,.47,.72);
  transition: left $transitionLength cubic-bezier(.37,.62,.47,.72), width $transitionLength cubic-bezier(.37,.62,.47,.72);
  background-color: $structureBorderColor;
  position: relative;

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:calc(100% - #{$headerHeight}) !important;
    width:100%;
    max-width: 100%;
    position:absolute;
    top:$headerHeight;
    left:0px;
    right:0px;
    bottom:0px;
    -webkit-transition: width $transitionLength ease-in-out;
    transition: width $transitionLength ease-in-out;
    margin: 0 auto;
  }
}

.huge-iframe-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0 0;
  background-color: #fff;
}

.huge-module__toggle-code {
  display: block;
  text-indent: -9999999px;
  background: url("../../structure/images/icon_code.svg") right center no-repeat;
  height: 1.5em;
  opacity: .5;
  margin-bottom: 15px;
  position: relative;
  z-index: 9;
  float: right;
  min-width: 30px;
}

pre[class*='language-'] > code[data-language] {
  overflow: auto;
}
