.huge-sidebar__toggle--in {
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  width: 45px;
  position: absolute;
  right: 0;
  padding: 0;
  height: 35px;
  background-color: $sidebarBackgroundColor;
  padding: 15px 0 10px 0;
  z-index: 10;

  a {
    display: inline-block;
    float: none;
    text-indent: -99999px;
    position: relative;
    width: 15px;
    height: 2px;
    background: #FFF;
    clear: both;
    margin: 0 auto;
    margin-top: 16px;
    -webkit-transition:all .15s ease-out;
    transition:all .15s ease-out;

    &:before {
      display: block;
      float: left;
      clear: both;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: -4px;
      left: 0;
      background: #777;
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
    &:after {
      display: block;
      float: left;
      clear: both;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background: #777;
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
  }
}

.huge-sidebar__toggle--out {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-align: center;
  height: 50px;
  width: 63px;
  background-color: #fff;
  padding: 20px 0 10px 0;
  z-index: 10;
  position: absolute;

  a {
    display: inline-block;
    float: none;
    text-indent: -99999px;
    position: relative;
    width: 22px;
    height: 2px;
    background: #777;
    clear: both;
    margin: 0 auto;
    margin-top: 16px;
    -webkit-transition:all .15s ease-out;
    transition:all .15s ease-out;

    &:before {
      display: block;
      float: left;
      clear: both;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: -4px;
      left: 0;
      background: #777;
      -webkit-transition:all .15s ease-out;
      transition:all .15s ease-out;
    }
    &:after {
      display: block;
      float: left;
      clear: both;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background: #777;
      -webkit-transition:all .15s ease-out;
      transition:all .15s ease-out;
    }
  }
}

.huge-sidebar__logo {
  display: none;
  width: 140px;
  margin: 40px auto;
}

.huge-sidebar__content {
  z-index: 1;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  position: fixed;
  background-color: $sidebarBackgroundColor;
  border-right: 1px solid $structureBorderColor;
  width: 0;
  height: 100%;
  z-index: 11;
  overflow: auto;
}

.huge-sidebar__nav {
  margin-top: 30px;
}

.huge-sidebar__nav__item__link {
  display: block;
  padding: 12px 16px 12px 50px;
  color: #777;
  font-weight: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  outline: none;

  &:hover, &.active {
    color: #222;
  }
}

body.opened {
  .huge-sidebar__toggle--in {
    width: 45px;
    position: fixed;
    padding: 0;
    height: 35px;
    background: none;
    left: 193px;
    top: 6px;

    a {
      background: transparent;

      &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  .huge-sidebar__content {
    position: fixed;
    width: $sidebarOpenedWidth;
  }

  .huge-sidebar__logo {
    display: block;
  }
}