<h2 class="huge_title">{{name}}</h2>
<form class="huge_snippet">
  <fieldset>
    <div class="row">
      <div class="medium-6 column">
        <input type="text" placeholder="Placeholder" class="g-wide--full"/>
      </div>
      <div class="medium-6 column">
        <input type="text" value="{{items.disabled}}" disabled="" class="g-wide--full"/>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 column">
        <label>Email input</label>
        <input type="email"/>
      </div>
      <div class="medium-6 column">
        <label>Password input</label>
        <input type="password" value="password"/>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 column">
        <label>Textarea</label>
        <textarea cols="30" rows="5">Textarea text</textarea>
      </div>
      <div class="medium-6 column">
        <label>Select field</label>
        <select>
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
      </div>
      <div class="medium-6 column">
        <label>File input</label>
        <input type="file"/>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 column">
        <label>
          <input type="radio" name="rad"/>Radio input
        </label>
        <label>
          <input type="checkbox"/>Checkbox input
        </label>
      </div>
      <div class="medium-6 column">
        <label>Number input</label>
        <input type="number" value="5" min="0" max="10"/>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 column">
        <label>Date input</label>
        <input type="date"/>
      </div>
      <div class="medium-6 column">
        <label>Time input</label>
        <input type="time"/>
      </div>
    </div>
  </fieldset>
</form>
