@import "../../assets/fonts/Huge/stylesheet.css";

.font-huge {
	font-family: 'HUGEAvantGardeBold', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

.font-galaxie {
	font-family: 'Galaxie', Helvetica, Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
}

.italic {
	font-style: italic;
}

h1 {
	font-size: 100px;
	line-height: 120px;
}

h2 {
	font-size: 80px;
	line-height: 92px;
}

h3 {
	font-size: 38px;
	line-height: 45px;
}

.p1, .p2 {
	padding-right: 20%;
}

.p3 {
	font-size: 15px;
	line-height: 1.8;
	color: #666;
	margin-top: 3em;
}

#typography {
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }
  p {
  	font: 16px/2 "Galaxie";
  	margin: 2em 0;
  }
}