@charset "UTF-8";
/**
 * All modules
 */
@import url(../../assets/fonts/Huge/stylesheet.css);
#colors .bg-magenta {
  background-color: #ec008c;
}
#colors .bg-black {
  background-color: #000;
}
#colors .bg-grey {
  background-color: #808080;
}
#colors .bg-blue {
  background-color: #2fbbf9;
}

.font-huge {
  font-family: 'HUGEAvantGardeBold', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

.font-galaxie {
  font-family: 'Galaxie', Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: 100px;
  line-height: 120px;
}

h2 {
  font-size: 80px;
  line-height: 92px;
}

h3 {
  font-size: 38px;
  line-height: 45px;
}

p {
  font: 16px/2 "Galaxie";
  margin: 2em 0;
}

.p1, .p2 {
  padding-right: 20%;
}

.p3 {
  font-size: 15px;
  line-height: 1.8;
  color: #666;
  margin-top: 3em;
}

#typography p {
  margin: 2em 0;
}
#typography .p1, #typography .p2 {
  padding-right: 20%;
}
#typography .p3 {
  margin-top: 3em;
}

.button {
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.3s,opacity 0.3s;
  -moz-transition: background-color 0.3s,opacity 0.3s;
  -o-transition: background-color 0.3s,opacity 0.3s;
  transition: background-color 0.3s,opacity 0.3s;
}

.button.load {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#buttons .button.black {
  background: #000;
  width: 160px;
  height: 54px;
  line-height: 54px;
  font-size: 13px;
}
#buttons .button:hover {
  background-color: #ec008c !important;
  color: #fff;
}

ol, ul {
  list-style: none;
  padding: 0;
}

ul li {
  position: relative;
}

ol {
  counter-reset: item;
}
ol li {
  position: relative;
}
ol li::before {
  content: counters(item,".") " ";
  counter-increment: item;
  top: 0;
  position: absolute;
  left: 0;
}

#lists ol, #lists ul {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}
#lists ul li {
  padding-left: 20px;
  position: relative;
}
#lists ul li::before {
  content: '▶';
  font-size: 11px;
  top: 4px;
  color: #ec008c;
  position: absolute;
  left: 0;
}
#lists ol {
  counter-reset: item;
}
#lists ol li {
  padding-left: 30px;
  position: relative;
}
#lists ol li::before {
  content: counters(item,".") " ";
  counter-increment: item;
  top: 0;
  color: #ec008c;
  position: absolute;
  left: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

table td,
table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

table th {
  font-family: 'HUGEAvantGardeBold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #cbcbcb;
}

table td:first-child,
table th:first-child {
  border-left-width: 0;
}

table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

table tr:nth-child(2n-1) td {
  background-color: #f8f8f8;
}

table td {
  border-bottom: 1px solid #cbcbcb;
}

#forms {
  /* Standard Forms */
  /* Using forms within rows, we need to set some defaults */
  /* Label Styles */
  /* Attach elements to the beginning or end of an input */
  /* Adjust padding, alignment and radius if pre/post element is a button */
  /* Separate prefix and postfix styles when on span or label so buttons keep their own */
  /* We use this to get basic styling on all basic form elements */
  /* Respect enforced amount of rows for textarea */
  /* Not allow resize out of parent */
  /* Add height value for select elements to match text input height */
  /* Adjust margin for form elements below */
  /* Normalize file input width */
  /* HTML5 Number spinners settings */
  /* We add basic fieldset styling */
  /* Error Handling */
}
#forms form {
  margin: 0 0 1rem;
}
#forms form .row .row {
  margin: 0 -0.5rem;
}
#forms form .row .row .column,
#forms form .row .row .columns {
  padding: 0 0.5rem;
}
#forms form .row .row.collapse {
  margin: 0;
}
#forms form .row .row.collapse .column,
#forms form .row .row.collapse .columns {
  padding: 0;
}
#forms form .row .row.collapse input {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#forms form .row input.column,
#forms form .row input.columns,
#forms form .row textarea.column,
#forms form .row textarea.columns {
  padding-left: 0.5rem;
}
#forms label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */
}
#forms label.right {
  float: none !important;
  text-align: right;
}
#forms label.inline {
  margin: 0 0 1rem 0;
  padding: 0.5625rem 0;
}
#forms label small {
  text-transform: capitalize;
  color: #676767;
}
#forms .prefix,
#forms .postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}
#forms .postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}
#forms .prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
}
#forms .prefix.button.radius {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#forms .postfix.button.radius {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#forms .prefix.button.round {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
#forms .postfix.button.round {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
#forms span.prefix, #forms label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333333;
  border-color: #cccccc;
}
#forms span.postfix, #forms label.postfix {
  background: #f2f2f2;
  border-left: none;
  color: #333333;
  border-color: #cccccc;
}
#forms input[type="text"],
#forms input[type="password"],
#forms input[type="date"],
#forms input[type="datetime"],
#forms input[type="datetime-local"],
#forms input[type="month"],
#forms input[type="week"],
#forms input[type="email"],
#forms input[type="number"],
#forms input[type="search"],
#forms input[type="tel"],
#forms input[type="time"],
#forms input[type="url"],
#forms input[type="color"],
#forms textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
#forms input[type="text"]:focus,
#forms input[type="password"]:focus,
#forms input[type="date"]:focus,
#forms input[type="datetime"]:focus,
#forms input[type="datetime-local"]:focus,
#forms input[type="month"]:focus,
#forms input[type="week"]:focus,
#forms input[type="email"]:focus,
#forms input[type="number"]:focus,
#forms input[type="search"]:focus,
#forms input[type="tel"]:focus,
#forms input[type="time"]:focus,
#forms input[type="url"]:focus,
#forms input[type="color"]:focus,
#forms textarea:focus {
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}
#forms input[type="text"]:focus,
#forms input[type="password"]:focus,
#forms input[type="date"]:focus,
#forms input[type="datetime"]:focus,
#forms input[type="datetime-local"]:focus,
#forms input[type="month"]:focus,
#forms input[type="week"]:focus,
#forms input[type="email"]:focus,
#forms input[type="number"]:focus,
#forms input[type="search"]:focus,
#forms input[type="tel"]:focus,
#forms input[type="time"]:focus,
#forms input[type="url"]:focus,
#forms input[type="color"]:focus,
#forms textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}
#forms input[type="text"]:disabled,
#forms input[type="password"]:disabled,
#forms input[type="date"]:disabled,
#forms input[type="datetime"]:disabled,
#forms input[type="datetime-local"]:disabled,
#forms input[type="month"]:disabled,
#forms input[type="week"]:disabled,
#forms input[type="email"]:disabled,
#forms input[type="number"]:disabled,
#forms input[type="search"]:disabled,
#forms input[type="tel"]:disabled,
#forms input[type="time"]:disabled,
#forms input[type="url"]:disabled,
#forms input[type="color"]:disabled,
#forms textarea:disabled {
  background-color: #dddddd;
  cursor: default;
}
#forms input[type="text"][disabled], #forms input[type="text"][readonly], #forms fieldset[disabled] input[type="text"],
#forms input[type="password"][disabled],
#forms input[type="password"][readonly], #forms fieldset[disabled]
input[type="password"],
#forms input[type="date"][disabled],
#forms input[type="date"][readonly], #forms fieldset[disabled]
input[type="date"],
#forms input[type="datetime"][disabled],
#forms input[type="datetime"][readonly], #forms fieldset[disabled]
input[type="datetime"],
#forms input[type="datetime-local"][disabled],
#forms input[type="datetime-local"][readonly], #forms fieldset[disabled]
input[type="datetime-local"],
#forms input[type="month"][disabled],
#forms input[type="month"][readonly], #forms fieldset[disabled]
input[type="month"],
#forms input[type="week"][disabled],
#forms input[type="week"][readonly], #forms fieldset[disabled]
input[type="week"],
#forms input[type="email"][disabled],
#forms input[type="email"][readonly], #forms fieldset[disabled]
input[type="email"],
#forms input[type="number"][disabled],
#forms input[type="number"][readonly], #forms fieldset[disabled]
input[type="number"],
#forms input[type="search"][disabled],
#forms input[type="search"][readonly], #forms fieldset[disabled]
input[type="search"],
#forms input[type="tel"][disabled],
#forms input[type="tel"][readonly], #forms fieldset[disabled]
input[type="tel"],
#forms input[type="time"][disabled],
#forms input[type="time"][readonly], #forms fieldset[disabled]
input[type="time"],
#forms input[type="url"][disabled],
#forms input[type="url"][readonly], #forms fieldset[disabled]
input[type="url"],
#forms input[type="color"][disabled],
#forms input[type="color"][readonly], #forms fieldset[disabled]
input[type="color"],
#forms textarea[disabled],
#forms textarea[readonly], #forms fieldset[disabled]
textarea {
  background-color: #dddddd;
  cursor: default;
}
#forms input[type="text"].radius,
#forms input[type="password"].radius,
#forms input[type="date"].radius,
#forms input[type="datetime"].radius,
#forms input[type="datetime-local"].radius,
#forms input[type="month"].radius,
#forms input[type="week"].radius,
#forms input[type="email"].radius,
#forms input[type="number"].radius,
#forms input[type="search"].radius,
#forms input[type="tel"].radius,
#forms input[type="time"].radius,
#forms input[type="url"].radius,
#forms input[type="color"].radius,
#forms textarea.radius {
  border-radius: 3px;
}
#forms form .row .prefix-radius.row.collapse input,
#forms form .row .prefix-radius.row.collapse textarea,
#forms form .row .prefix-radius.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#forms form .row .prefix-radius.row.collapse .prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#forms form .row .postfix-radius.row.collapse input,
#forms form .row .postfix-radius.row.collapse textarea,
#forms form .row .postfix-radius.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#forms form .row .postfix-radius.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#forms form .row .prefix-round.row.collapse input,
#forms form .row .prefix-round.row.collapse textarea,
#forms form .row .prefix-round.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
#forms form .row .prefix-round.row.collapse .prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
#forms form .row .postfix-round.row.collapse input,
#forms form .row .postfix-round.row.collapse textarea,
#forms form .row .postfix-round.row.collapse select {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
#forms form .row .postfix-round.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
#forms input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
#forms textarea[rows] {
  height: auto;
}
#forms textarea {
  max-width: 100%;
}
#forms select {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
}
#forms select::-ms-expand {
  display: none;
}
#forms select.radius {
  border-radius: 3px;
}
#forms select:hover {
  background-color: #f3f3f3;
  border-color: #999999;
}
#forms select:disabled {
  background-color: #dddddd;
  cursor: default;
}
#forms input[type="file"],
#forms input[type="checkbox"],
#forms input[type="radio"],
#forms select {
  margin: 0 0 1rem 0;
}
#forms input[type="checkbox"] + label,
#forms input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}
#forms input[type="file"] {
  width: 100%;
}
#forms fieldset {
  border: 1px solid #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
#forms fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}
#forms [data-abide] .error small.error, #forms [data-abide] .error span.error, #forms [data-abide] span.error, #forms [data-abide] small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white;
}
#forms [data-abide] span.error, #forms [data-abide] small.error {
  display: none;
}
#forms span.error, #forms small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white;
}
#forms .error input,
#forms .error textarea,
#forms .error select {
  margin-bottom: 0;
}
#forms .error input[type="checkbox"],
#forms .error input[type="radio"] {
  margin-bottom: 1rem;
}
#forms .error label,
#forms .error label.error {
  color: #c60f13;
}
#forms .error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: italic;
  background: #c60f13;
  color: white;
}
#forms .error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline;
}
#forms .error span.error-message {
  display: block;
}
#forms input.error,
#forms textarea.error,
#forms select.error {
  margin-bottom: 0;
}
#forms label.error {
  color: #c60f13;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

select {
  width: 100%;
}

/*# sourceMappingURL=styleguide.css.map */
