- var modules = public.styleguide.modules
- var modulesData = {}
- for (var folder in modules) {
- 	if(typeof modules[folder]._data !== 'undefined') {
- 		var module = modules[folder]
-   	var moduleData = module._data
- 		moduleData.order = folder.split('_')[0]
-   	modulesData[folder.split('_')[1]] = moduleData
- 	}
- }